@CHARSET "UTF-8";

body {
    margin-top: 50px;
    background-color: white;
}

th {
  height: 50px;
  width: 100px;
}

tr {
  font-family: arial;
  color: white;
  margin: 0px;
}

tr:nth-child(even){
   background-color: #66a3ff;
}

tr:nth-child(odd){
   background-color: #1772fc;
}

td{
  margin: 0px;
  padding: 0px;
  height: 50px;
}



#current {
    background-color: #1772fc;
    border-color: #1772fc;
    color: white;
}

#resultsTable {
  text-align: center;
  margin: auto;
  height: 30px;
  border: 0px solid #AAAAAA;
  padding: 1px 0px;

}



.header {
    height: auto;
    width: 100%;
    text-align: center;
    margin: auto;
}

.button-header {
  text-align: center;
  border-style: solid;
  border-color: black;
}

.title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: arial;
    color: #1772fc;
}

.button {
    margin-top:5px;
    width: 100px;
    height: 60px;
    border-radius: 4px;
    background-color: #1772fc;
    border-style: solid;
    border-color: #1772fc;
    color: white;
    cursor: hand;
    font-family: arial;
    font-size: 12;
    font-weight: bolder;
}

.button:hover {
    transition-duration: 0.4s;
    background-color: white;
    border-style: solid;
    border-color: #1772fc;
    color: #1772fc;
}

.label {
    display: inline-block;
    width: 80px;
    margin-bottom: 5px;
}
