@CHARSET "UTF-8";

body {
    margin-top: 50px;
    background-color: white;
}


#current {
    background-color: #1772fc;
    border-color: #1772fc;
    color: white;
}

#resultsTable {
  text-align: center;
  margin: auto;

  border: 2px solid black;
}

th {
  height: 50px;
  width: 100px;


}

tr:nth-child(even){
   background-color: #66a3ff;
   font-family: arial;
   color: white;
   margin: 5px;
   border: 2px solid black;
}
td{
  margin: 5px;
}
tr:nth-child(odd){
   background-color: #1772fc;
   font-family: arial;
   color: white;
   margin: 5px;
   border: 2px solid black;
}

.header {
    height: 150px;
    width: 100%;
    text-align: center;
    margin: auto;
}

.title {
    margin-top: 0px;
    margin-bottom: 30px;
    font-family: arial;
    color: #1772fc;
}

.button {
    width: 100px;
    height: 25px;
    background-color: #1772fc;
    border-style: solid;
    border-color: #1772fc;
    color: white;
    font-family: arial;
    font-size: 12;
    font-weight: bolder;
}
